.bg-title-bab {
    -fx-background-image: url("../images/background/pg-title-black-and-blue-mini.png");
    -fx-background-size: cover; /* Phủ kín khu vực nút */
    -fx-background-repeat: no-repeat; /* Không lặp lại hình ảnh */
    -fx-background-position: center; /* Canh giữa hình ảnh */
}

.title-bab {
    -fx-font-size: 22px;
    -fx-text-fill: #fafafa;
    -fx-font-weight: bold;
}

.number-input {
    -fx-background-color: transparent;
    -fx-pref-width: 50;
    -fx-alignment: center;
}

.number-input:hover {
    -fx-text-fill: white;
}

.table-row-cell:selected .table-column .number-input {
    -fx-text-fill: white;
    -fx-font-weight: 700;
}

#number-input {
    -fx-border-color: #1b1b32;
    -fx-border-width: 0 0 2px 0;
}

/* ------------------------------------- Choose Product --------------------------------------------*/
.preview-product {
    -fx-background-radius: 50px 0 50px 0;

}

.mini-card-product {
    -fx-background-radius: 30 0;
    -fx-background-color: white;
}

.list-product {
    -fx-background-color: transparent;
}

.product-card-item {
    -fx-background-color: none;
}

.cp-search-box {
    -fx-background-color:#FFFFFF;
    -fx-background-radius: 30 0 30 0;
}

.cp-search-btn {
    -fx-background-color: #1b337f;
    -fx-background-radius: 21 0;
    -fx-text-fill: white;
    -fx-font-weight: 700;
}

.cp-search-btn:hover {
    -fx-background-color: #00ccff;
    -fx-text-fill: #1b337f;
}

.cp-content {
    -fx-background-radius: 40 0;
}

.cp-product-name {
    -fx-text-fill: #1b1b32;
    -fx-font-size: 14px;
    -fx-font-weight: 700;
}

.pc-name-area {
    -fx-background-radius: 20 0;
    -fx-background-color: #00ccff;
    -fx-padding: 8 10;
}

.cp-number-input {
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 0 0 2px 0;
    -fx-text-fill: white;
}

.cp-note {
    -fx-background-color: transparent;
    -fx-control-inner-background: transparent;
    -fx-text-fill: white;
    -fx-border-width: 2px;
    -fx-border-color: white;
}





